# SDG Rating 
-- Valuation of statistical distribution of the missing value

In [2]:
import math
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [3]:
pf = pd.read_csv('/Users/qihangyu/Desktop/Global AI/SDG_rating_file/EMNA_Comb1.csv')
bm = pd.read_csv('/Users/qihangyu/Desktop/Global AI/SDG_rating_file/Benchmark_tickers.csv')

In [4]:
t15 = pd.read_csv('/Users/qihangyu/Desktop/Global AI/SDG_Myfirstproject/equity/sdgtone_15.csv')

In [5]:
# 1. Our portfolio 
pf.head()

,Unnamed: 0,ISSUER_NAME,ISSUERID,ISSUER_TICKER,ISSUER_CUSIP,ISSUER_SEDOL,ISSUER_ISIN,ISSUER_CNTRY_DOMICILE,AS_OF_DATE,IVA_INDUSTRY,...,Country 2,Region,Region_n,yr_n,E_MOM_6M,S_MOM_6M,G_MOM_6M,Rebalance Date,Weights,Portfolio Name
0,151277,Centurytel Inc,IID000000002161445,CTL-N,156700106,2185046,US1567001060,US,11/1/2008,Integrated Telecommunication Services,...,USA,NORTH AMERICA,1,2008,3.061947,0.882353,-0.037778,1/1/2009,0.02,EM_NA_FF
1,111532,Western Digital Corporation,IID000000002189472,WDC,958102105,2954699,US9581021055,US,12/1/2008,Computers & Peripherals,...,USA,NORTH AMERICA,1,2008,2.401042,1.114286,0.639723,1/1/2009,0.02,EM_NA_FF
2,150139,Capital One Financial Corp.,IID000000002133476,COF-N,14040H105,2654461,US14040H1059,US,10/1/2008,Consumer Finance,...,USA,NORTH AMERICA,1,2008,2.363636,-0.320408,-0.545455,1/1/2009,0.02,EM_NA_FF
3,109870,"Avis Budget Group, Inc.",IID000000002149338,CAR-N,53774105,B1CL8J2,US0537741052,US,9/1/2008,Commercial Services & Supplies,...,USA,NORTH AMERICA,1,2008,2.075145,-0.209459,0.021429,1/1/2009,0.02,EM_NA_FF
4,105477,US Bancorp,IID000000002187781,USB,902973304,2736035,US9029733048,US,1/1/2008,Banks - North America,...,USA,NORTH AMERICA,1,2008,1.870270,0.104305,0.637681,1/1/2009,0.02,EM_NA_FF

In [9]:
# pf has 500 rows but the number of unique tickers is 384
len(pf.ISSUER_TICKER) #500
len(pf.ISSUER_TICKER.unique()) #384
pf_tic = pf.ISSUER_TICKER.unique()
pf_tic;

In [7]:
# 2. Benchmark : Equity in iShares-MSCI-ACWI-ETF_fund
bm.head()

  Ticker                    Name Asset Class
0   AAPL               APPLE INC      Equity
1   MSFT          MICROSOFT CORP      Equity
2   AMZN          AMAZON COM INC      Equity
3   INDA  ISHARES MSCI INDIA ETF      Equity
4    JNJ       JOHNSON & JOHNSON      Equity

In [10]:
len(bm.Ticker) # 1370
len(bm.Ticker.unique()) # 1337 unique tickers
bm_tic = bm.Ticker.unique()
bm_tic

array(['AAPL', 'MSFT', 'AMZN', ..., '6863', '012630', 'BES'], dtype=object)

In [11]:
# Is the all tickers in our portfolio included in the benchmark?
# NO. Only 98 tickers in our portfolios are included in the benchmark
sum(np.isin(pf_tic, bm_tic)) # 98

98

In [12]:
# 3. 2018 Tone
t15.head() # until 20180624

,Unnamed: 0,date,code,SDG,tone
0,0,20150101,--,1. No Poverty,-1.304348
1,1,20150101,--,10. Reduced Inequalities,-3.102656
2,2,20150101,--,11. Sustainable Cities and Communities,-2.319714
3,3,20150101,--,12. Responsible Consumption and Production,-2.276572
4,4,20150101,--,13. Climate Action,-0.474060

In [13]:
type(t15.date[0])

numpy.int64

In [14]:
len(t15.code.unique()) # 7805 tickers
t15_tic = t15.code.unique()
t15_tic

array(['--', '000002', '000270', ..., 'PGAS', 'FN', 'CTIC'], dtype=object)

In [15]:
sum(np.isin(pf_tic, t15_tic)) # 298 out of 384
sum(np.isin(bm_tic, t15_tic)) # 1326 out of 1337

1325

In [16]:
pfbm_tic = np.concatenate((pf_tic, bm_tic))
len(pfbm_tic) # 1721 = 384 + 1337

1721

In [18]:
t15_subset = t15.loc[t15['code'].isin(pfbm_tic), :]
t15_subset; # until 20180624

In [20]:
t15_subset.head()

,Unnamed: 0,date,code,SDG,tone
0,0,20150101,--,1. No Poverty,-1.304348
1,1,20150101,--,10. Reduced Inequalities,-3.102656
2,2,20150101,--,11. Sustainable Cities and Communities,-2.319714
3,3,20150101,--,12. Responsible Consumption and Production,-2.276572
4,4,20150101,--,13. Climate Action,-0.474060

In [21]:
len(t15_subset.code.unique()) # 1527

1526

In [22]:
#Convert date from integer to datetime
t15_subset['date'] = t15_subset['date'].apply(lambda x: str(x))
t15_subset['date'] = t15_subset['date'].apply(lambda x: datetime.strptime(x, '%Y%m%d'))

/Users/qihangyu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/qihangyu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
t15_subset.head()

,Unnamed: 0,date,code,SDG,tone
0,0,2015-01-01,--,1. No Poverty,-1.304348
1,1,2015-01-01,--,10. Reduced Inequalities,-3.102656
2,2,2015-01-01,--,11. Sustainable Cities and Communities,-2.319714
3,3,2015-01-01,--,12. Responsible Consumption and Production,-2.276572
4,4,2015-01-01,--,13. Climate Action,-0.474060

In [25]:
## Staleness_Overall_2018 ##
t15_subset_overall = t15_subset.groupby(['code', 'date'], as_index = False)['tone'].mean()
t15_subset_overall.head()

  code       date      tone
0   -- 2015-01-01 -2.066092
1   -- 2015-01-02 -0.020357
2   -- 2015-01-03  1.288270
3   -- 2015-01-04 -1.367498
4   -- 2015-01-05 -0.485060

In [26]:
df_pivot = pd.pivot_table(t15_subset_overall, values='tone', index=['date'], columns=['code']).reset_index()
df_pivot.head()

code,date,--,000002,000030,000270,000333,000660,000810,000858,000880,...,YUMC,YY,Z,Z74,ZAL,ZBH,ZEUS,ZG,ZTS,ZURN
0,2015-01-01,-2.066092,-3.138861,NaN,-1.646392,-1.985911,NaN,-0.350269,NaN,NaN,...,-3.138861,NaN,0.232019,-2.766391,NaN,-0.884956,-3.605016,0.232019,NaN,NaN
1,2015-01-02,-0.020357,-1.861777,2.823398,-0.645891,-1.187492,NaN,0.352548,-4.501608,NaN,...,-0.483214,NaN,-2.347577,-2.643810,NaN,3.625378,NaN,-2.347577,NaN,-2.257418
2,2015-01-03,1.288270,1.891171,NaN,0.238461,4.058442,NaN,0.798956,4.058442,NaN,...,0.837035,2.678957,2.401088,-0.487900,NaN,-0.749064,NaN,NaN,2.678957,3.309384
3,2015-01-04,-1.367498,-1.302429,NaN,-1.348650,1.394238,NaN,-0.238043,NaN,4.411765,...,-1.479843,-1.621061,-1.851974,NaN,NaN,NaN,NaN,NaN,-1.851974,NaN
4,2015-01-05,-0.485060,0.265019,-0.772414,-0.745419,-0.966376,3.174603,0.203217,NaN,1.360785,...,0.181589,-0.073196,-1.103198,-1.462962,NaN,-0.351267,NaN,-1.314694,-0.172647,-1.804511

In [27]:
date_range_all = pd.DataFrame(pd.date_range(df_pivot.date[0], df_pivot.date.tolist()[-1], freq='D'), columns=['date'])
date_range_all.head()

        date
0 2015-01-01
1 2015-01-02
2 2015-01-03
3 2015-01-04
4 2015-01-05

In [28]:
df_all_dates = date_range_all.merge(df_pivot, on='date', how = 'left')

In [29]:
df_all_dates.head()

,date,--,000002,000030,000270,000333,000660,000810,000858,000880,...,YUMC,YY,Z,Z74,ZAL,ZBH,ZEUS,ZG,ZTS,ZURN
0,2015-01-01,-2.066092,-3.138861,NaN,-1.646392,-1.985911,NaN,-0.350269,NaN,NaN,...,-3.138861,NaN,0.232019,-2.766391,NaN,-0.884956,-3.605016,0.232019,NaN,NaN
1,2015-01-02,-0.020357,-1.861777,2.823398,-0.645891,-1.187492,NaN,0.352548,-4.501608,NaN,...,-0.483214,NaN,-2.347577,-2.643810,NaN,3.625378,NaN,-2.347577,NaN,-2.257418
2,2015-01-03,1.288270,1.891171,NaN,0.238461,4.058442,NaN,0.798956,4.058442,NaN,...,0.837035,2.678957,2.401088,-0.487900,NaN,-0.749064,NaN,NaN,2.678957,3.309384
3,2015-01-04,-1.367498,-1.302429,NaN,-1.348650,1.394238,NaN,-0.238043,NaN,4.411765,...,-1.479843,-1.621061,-1.851974,NaN,NaN,NaN,NaN,NaN,-1.851974,NaN
4,2015-01-05,-0.485060,0.265019,-0.772414,-0.745419,-0.966376,3.174603,0.203217,NaN,1.360785,...,0.181589,-0.073196,-1.103198,-1.462962,NaN,-0.351267,NaN,-1.314694,-0.172647,-1.804511

In [30]:
df_all_dates['date'] = df_all_dates['date'].apply(lambda x: str(x)[:10])

In [31]:
df_all_dates.head()  ########Final df########

,date,--,000002,000030,000270,000333,000660,000810,000858,000880,...,YUMC,YY,Z,Z74,ZAL,ZBH,ZEUS,ZG,ZTS,ZURN
0,2015-01-01,-2.066092,-3.138861,NaN,-1.646392,-1.985911,NaN,-0.350269,NaN,NaN,...,-3.138861,NaN,0.232019,-2.766391,NaN,-0.884956,-3.605016,0.232019,NaN,NaN
1,2015-01-02,-0.020357,-1.861777,2.823398,-0.645891,-1.187492,NaN,0.352548,-4.501608,NaN,...,-0.483214,NaN,-2.347577,-2.643810,NaN,3.625378,NaN,-2.347577,NaN,-2.257418
2,2015-01-03,1.288270,1.891171,NaN,0.238461,4.058442,NaN,0.798956,4.058442,NaN,...,0.837035,2.678957,2.401088,-0.487900,NaN,-0.749064,NaN,NaN,2.678957,3.309384
3,2015-01-04,-1.367498,-1.302429,NaN,-1.348650,1.394238,NaN,-0.238043,NaN,4.411765,...,-1.479843,-1.621061,-1.851974,NaN,NaN,NaN,NaN,NaN,-1.851974,NaN
4,2015-01-05,-0.485060,0.265019,-0.772414,-0.745419,-0.966376,3.174603,0.203217,NaN,1.360785,...,0.181589,-0.073196,-1.103198,-1.462962,NaN,-0.351267,NaN,-1.314694,-0.172647,-1.804511

In [32]:
# function for measuring staleness
def calc_days(num_datapoint, company_name, date):
    count = 0
    list_datapoint = []
    date_index = int(df_all_dates[df_all_dates['date'] == date].index.values)
    while count < num_datapoint and date_index > 0:
        temp_value = df_all_dates.at[date_index,company_name]
        if  not math.isnan(temp_value):
            list_datapoint.append(temp_value)
            date_index -= 1
            count += 1
        else:
            date_index -= 1
    if count == num_datapoint:
        list_datapoint.reverse()
    
        #Calculate days in between
        date_format = '%Y-%m-%d'
        a = datetime.strptime(df_all_dates.date[date_index], date_format)
        b = datetime.strptime(date, date_format)
        delta = b - a   
        
        return delta.days
    else:
        return np.nan

In [33]:
calc_days(7, 'YY', '2015-01-10')

7

In [34]:
# Run the function

#df_staleness_long = pd.DataFrame()
df_staleness_short = pd.DataFrame()

n=0
for col in df_all_dates.columns[1:]:
    df_temp = df_all_dates.loc[:, ['date', col]]
    #df_staleness_long[col] = df_temp['date'].apply(lambda x: calc_days(180,col,x))
    df_staleness_short[col] = df_temp['date'].apply(lambda x: calc_days(7,col,x))
    
    n+=1
    print(col,'finished',df_all_dates.shape[1]-1-n,'to go')

-- finished 1525 to go
000002 finished 1524 to go
000030 finished 1523 to go
000270 finished 1522 to go
000333 finished 1521 to go
000660 finished 1520 to go
000810 finished 1519 to go
000858 finished 1518 to go
000880 finished 1517 to go
001040 finished 1516 to go
001450 finished 1515 to go
002380 finished 1514 to go
002415 finished 1513 to go
002790 finished 1512 to go
003550 finished 1511 to go
004020 finished 1510 to go
004990 finished 1509 to go
005380 finished 1508 to go
005490 finished 1507 to go
005930 finished 1506 to go
005935 finished 1505 to go
006360 finished 1504 to go
006400 finished 1503 to go
006800 finished 1502 to go
007070 finished 1501 to go
007310 finished 1500 to go
008930 finished 1499 to go
009540 finished 1498 to go
010060 finished 1497 to go
010130 finished 1496 to go
011170 finished 1495 to go
012330 finished 1494 to go
012630 finished 1493 to go
015760 finished 1492 to go
017670 finished 1491 to go
021240 finished 1490 to go
023530 finished 1489 to go
028260 finished 1488 to go
028300 finished 1487 to go
030200 finished 1486 to go
033780 finished 1485 to go
034220 finished 1484 to go
034730 finished 1483 to go
035420 finished 1482 to go
035760 finished 1481 to go
036570 finished 1480 to go
047810 finished 1479 to go
051900 finished 1478 to go
051910 finished 1477 to go
055550 finished 1476 to go
066570 finished 1475 to go
068270 finished 1474 to go
086280 finished 1473 to go
086790 finished 1472 to go
090430 finished 1471 to go
096770 finished 1470 to go
097950 finished 1469 to go
1 finished 1468 to go
101 finished 1467 to go
1044 finished 1466 to go
105560 finished 1465 to go
1088 finished 1464 to go
1093 finished 1463 to go
11 finished 1462 to go
1109 finished 1461 to go
1113 finished 1460 to go
1114 finished 1459 to go
1169 finished 1458 to go
1177 finished 1457 to go
12 finished 1456 to go
1216 finished 1455 to go
1288 finished 1454 to go
128940 finished 1453 to go
1299 finished 1452 to go
1301 finished 1451 to go
1303 finished 1450 to go
135 finished 1449 to go
1398 finished 1448 to go
1434 finished 1447 to go
151 finished 1446 to go
161390 finished 1445 to go
17 finished 1444 to go
175 finished 1443 to go
19 finished 1442 to go
1918 finished 1441 to go
1925 finished 1440 to go
1928 finished 1439 to go
1997 finished 1438 to go
1COV finished 1437 to go
2 finished 1436 to go
2002 finished 1435 to go
2007 finished 1434 to go
2018 finished 1433 to go
207940 finished 1432 to go
23 finished 1431 to go
2303 finished 1430 to go
2317 finished 1429 to go
2318 finished 1428 to go
2319 finished 1427 to go
2330 finished 1426 to go
2333 finished 1425 to go
2353 finished 1424 to go
2371 finished 1423 to go
2382 finished 1422 to go
2412 finished 1421 to go
2413 finished 1420 to go
2454 finished 1419 to go
2502 finished 1418 to go
2503 finished 1417 to go
2542 finished 1416 to go
2601 finished 1415 to go
2610 finished 1414 to go
2618 finished 1413 to go
2628 finished 1412 to go
267250 finished 1411 to go
27 finished 1410 to go
270 finished 1409 to go
271560 finished 1408 to go
2801 finished 1407 to go
2802 finished 1406 to go
282330 finished 1405 to go
2834 finished 1404 to go
288 finished 1403 to go
2880 finished 1402 to go
2882 finished 1401 to go
2883 finished 1400 to go
2884 finished 1399 to go
2886 finished 1398 to go
2887 finished 1397 to go
2890 finished 1396 to go
2891 finished 1395 to go
2892 finished 1394 to go
2914 finished 1393 to go
3 finished 1392 to go
3045 finished 1391 to go
3092 finished 1390 to go
3283 finished 1389 to go
3333 finished 1388 to go
3377 finished 1387 to go
3382 finished 1386 to go
3402 finished 1385 to go
3462 finished 1384 to go
3659 finished 1383 to go
371 finished 1382 to go
3711 finished 1381 to go
384 finished 1380 to go
386 finished 1379 to go
388 finished 1378 to go
3968 finished 1377 to go
3988 finished 1376 to go
4 finished 1375 to go
4005 finished 1374 to go
4063 finished 1373 to go
4188 finished 1372 to go
4452 finished 1371 to go
4502 finished 1370 to go
4503 finished 1369 to go
4507 finished 1368 to go
4523 finished 1367 to go
4528 finished 1366 to go
4543 finished 1365 to go
4568 finished 1364 to go
4578 finished 1363 to go
4732 finished 1362 to go
4755 finished 1361 to go
4901 finished 1360 to go
4904 finished 1359 to go
4911 finished 1358 to go
4912 finished 1357 to go
493 finished 1356 to go
5020 finished 1355 to go
5108 finished 1354 to go
5401 finished 1353 to go
5411 finished 1352 to go
5802 finished 1351 to go
5880 finished 1350 to go
600000 finished 1349 to go
600036 finished 1348 to go
600276 finished 1347 to go
600519 finished 1346 to go
600900 finished 1345 to go
601166 finished 1344 to go
601288 finished 1343 to go
601318 finished 1342 to go
601398 finished 1341 to go
601668 finished 1340 to go
6098 finished 1339 to go
6178 finished 1338 to go
6301 finished 1337 to go
6326 finished 1336 to go
6367 finished 1335 to go
6473 finished 1334 to go
6479 finished 1333 to go
6501 finished 1332 to go
6502 finished 1331 to go
6503 finished 1330 to go
6506 finished 1329 to go
656 finished 1328 to go
6594 finished 1327 to go
669 finished 1326 to go
6701 finished 1325 to go
6702 finished 1324 to go
6723 finished 1323 to go
6752 finished 1322 to go
6758 finished 1321 to go
6762 finished 1320 to go
6770 finished 1319 to go
6861 finished 1318 to go
6863 finished 1317 to go
688 finished 1316 to go
6902 finished 1315 to go
6952 finished 1314 to go
6954 finished 1313 to go
696 finished 1312 to go
6971 finished 1311 to go
6981 finished 1310 to go
6988 finished 1309 to go
700 finished 1308 to go
7011 finished 1307 to go
7186 finished 1306 to go
7201 finished 1305 to go
7203 finished 1304 to go
7211 finished 1303 to go
7259 finished 1302 to go
7261 finished 1301 to go
7267 finished 1300 to go
7269 finished 1299 to go
7270 finished 1298 to go
728 finished 1297 to go
762 finished 1296 to go
7733 finished 1295 to go
7741 finished 1294 to go
7751 finished 1293 to go
7832 finished 1292 to go
7936 finished 1291 to go
7974 finished 1290 to go
8001 finished 1289 to go
8002 finished 1288 to go
8031 finished 1287 to go
8035 finished 1286 to go
8053 finished 1285 to go
8058 finished 1284 to go
8113 finished 1283 to go
813 finished 1282 to go
823 finished 1281 to go
8306 finished 1280 to go
8308 finished 1279 to go
8309 finished 1278 to go
8316 finished 1277 to go
8410 finished 1276 to go
8411 finished 1275 to go
8473 finished 1274 to go
857 finished 1273 to go
8572 finished 1272 to go
8591 finished 1271 to go
8601 finished 1270 to go
8604 finished 1269 to go
8630 finished 1268 to go
8725 finished 1267 to go
8750 finished 1266 to go
8766 finished 1265 to go
8795 finished 1264 to go
8801 finished 1263 to go
8802 finished 1262 to go
883 finished 1261 to go
8984 finished 1260 to go
9006 finished 1259 to go
9020 finished 1258 to go
9022 finished 1257 to go
9041 finished 1256 to go
939 finished 1255 to go
941 finished 1254 to go
9432 finished 1253 to go
9433 finished 1252 to go
9437 finished 1251 to go
9501 finished 1250 to go
9503 finished 1249 to go
9504 finished 1248 to go
9506 finished 1247 to go
9508 finished 1246 to go
9531 finished 1245 to go
966 finished 1244 to go
9735 finished 1243 to go
992 finished 1242 to go
9962 finished 1241 to go
9983 finished 1240 to go
9984 finished 1239 to go
A finished 1238 to go
A17U finished 1237 to go
AAL finished 1236 to go
AAP finished 1235 to go
AAPL finished 1234 to go
AAWW finished 1233 to go
ABBN finished 1232 to go
ABBV finished 1231 to go
ABC finished 1230 to go
ABEV3 finished 1229 to go
ABF finished 1228 to go
ABI finished 1227 to go
ABMB finished 1226 to go
ABMD finished 1225 to go
ABT finished 1224 to go
ABX finished 1223 to go
AC finished 1222 to go
ACA finished 1221 to go
ACN finished 1220 to go
ACS finished 1219 to go
AD finished 1218 to go
ADBE finished 1217 to go
ADC finished 1216 to go
ADCB finished 1215 to go
ADEN finished 1214 to go
ADI finished 1213 to go
ADM finished 1212 to go
ADP finished 1211 to go
ADS finished 1210 to go
ADSK finished 1209 to go
AEE finished 1208 to go
AEFES finished 1207 to go
AEM finished 1206 to go
AEP finished 1205 to go
AER finished 1204 to go
AES finished 1203 to go
AEV finished 1202 to go
AFG finished 1201 to go
AFL finished 1200 to go

AGF.B finished 1199 to go
AGL finished 1198 to go
AGN finished 1197 to go
AGS finished 1196 to go
AGUAS.A finished 1195 to go
AHT finished 1194 to go
AI finished 1193 to go
AIA finished 1192 to go
AIG finished 1191 to go
AIR finished 1190 to go
AIRASIA finished 1189 to go
AIRPORT finished 1188 to go
AIV finished 1187 to go
AKAM finished 1186 to go
AKBNK finished 1185 to go
AKE finished 1184 to go
AKR finished 1183 to go
AKZA finished 1182 to go
ALB finished 1181 to go
ALCO finished 1180 to go
ALDAR finished 1179 to go
ALE finished 1178 to go
ALFAA finished 1177 to go
ALGN finished 1176 to go
ALI finished 1175 to go
ALKS finished 1174 to go
ALL finished 1173 to go
ALNY finished 1172 to go
ALO finished 1171 to go
ALPHA finished 1170 to go
ALR finished 1169 to go
ALV finished 1168 to go
ALXN finished 1167 to go
AMAT finished 1166 to go
AMC finished 1165 to go
AMD finished 1164 to go
AME finished 1163 to go
AMGN finished 1162 to go
AMP finished 1161 to go
AMS finished 1160 to go
AMT finished 1159 to go
AMTD finished 1158 to go
AMXL finished 1157 to go
AMZN finished 1156 to go
ANET finished 1155 to go
ANTM finished 1154 to go
ANTO finished 1153 to go
ANZ finished 1152 to go
AON finished 1151 to go
AP finished 1150 to go
APA finished 1149 to go
APC finished 1148 to go
APD finished 1147 to go
APH finished 1146 to go
APTV finished 1145 to go
ARCLK finished 1144 to go
ARI finished 1143 to go
ARNC finished 1142 to go
ARX finished 1141 to go
ASII finished 1140 to go
ASML finished 1139 to go
ASSA B finished 1138 to go
AST finished 1137 to go
ASX finished 1136 to go
ATAD finished 1135 to go
ATCO A finished 1134 to go
ATD.B finished 1133 to go
ATHM finished 1132 to go
ATL finished 1131 to go
ATO finished 1130 to go
ATSG finished 1129 to go
ATVI finished 1128 to go
AUTO finished 1127 to go
AV. finished 1126 to go
AVB finished 1125 to go
AVGO finished 1124 to go
AVP finished 1123 to go
AWC finished 1122 to go
AWK finished 1121 to go
AXP finished 1120 to go
AYI finished 1119 to go
AZJ finished 1118 to go
AZN finished 1117 to go
AZO finished 1116 to go
B3SA3 finished 1115 to go
B4B finished 1114 to go
BA finished 1113 to go
BA. finished 1112 to go
BAAKOMB finished 1111 to go
BABA finished 1110 to go
BAC finished 1109 to go
BAER finished 1108 to go
BAM.A finished 1107 to go
BAP finished 1106 to go
BARC finished 1105 to go
BARN finished 1104 to go
BAS finished 1103 to go
BATS finished 1102 to go
BAX finished 1101 to go
BAYN finished 1100 to go
BBAS3 finished 1099 to go
BBCA finished 1098 to go
BBD.B finished 1097 to go
BBDC4 finished 1096 to go
BBNI finished 1095 to go
BBRI finished 1094 to go
BBT finished 1093 to go
BBVA finished 1092 to go
BBY finished 1091 to go
BCB finished 1090 to go
BCE finished 1089 to go
BCI finished 1088 to go
BCPC finished 1087 to go
BCRX finished 1086 to go
BDEV finished 1085 to go
BDMS.R finished 1084 to go
BDO finished 1083 to go
BDX finished 1082 to go
BEI finished 1081 to go
BELA finished 1080 to go
BEM.R finished 1079 to go
BEN finished 1078 to go
BES finished 1077 to go
BFB finished 1076 to go
BFS finished 1075 to go
BG finished 1074 to go
BGG finished 1073 to go
BGNE finished 1072 to go
BHF finished 1071 to go
BHGE finished 1070 to go
BHP finished 1069 to go
BID finished 1068 to go
BIDU finished 1067 to go
BIG finished 1066 to go
BIIB finished 1065 to go
BIMAS finished 1064 to go
BIRG finished 1063 to go
BK finished 1062 to go
BKG finished 1061 to go
BKIA finished 1060 to go
BKNG finished 1059 to go
BLD finished 1058 to go
BLK finished 1057 to go
BLL finished 1056 to go
BLND finished 1055 to go
BMO finished 1054 to go
BMRI finished 1053 to go
BMRN finished 1052 to go
BMS finished 1051 to go
BMW finished 1050 to go
BMY finished 1049 to go
BN finished 1048 to go
BN4 finished 1047 to go
BNCL finished 1046 to go
BNP finished 1045 to go
BNS finished 1044 to go
BOL finished 1043 to go
BOX finished 1042 to go
BP. finished 1041 to go
BPI finished 1040 to go
BPR finished 1039 to go
BRBY finished 1038 to go
BRFS3 finished 1037 to go
BRKB finished 1036 to go
BRML3 finished 1035 to go
BRO finished 1034 to go
BSANTANDER finished 1033 to go
BSL finished 1032 to go
BSX finished 1031 to go
BT.A finished 1030 to go
BVN finished 1029 to go
BWA finished 1028 to go
BWINB finished 1027 to go
BXB finished 1026 to go
BXP finished 1025 to go
BYD finished 1024 to go
C finished 1023 to go
C31 finished 1022 to go
C38U finished 1021 to go
CA finished 1020 to go
CABK finished 1019 to go
CAG finished 1018 to go
CAH finished 1017 to go
CAP finished 1016 to go
CARL B finished 1015 to go
CAT finished 1014 to go
CB finished 1013 to go
CBA finished 1012 to go
CBK finished 1011 to go
CBOE finished 1010 to go
CBRE finished 1009 to go
CBS finished 1008 to go
CBT finished 1007 to go
CC finished 1006 to go
CCC finished 1005 to go
CCH finished 1004 to go
CCI finished 1003 to go
CCK finished 1002 to go
CCL finished 1001 to go
CCL.B finished 1000 to go
CCO finished 999 to go
CCRO3 finished 998 to go
CCU finished 997 to go
CDE finished 996 to go
CDNS finished 995 to go
CDR finished 994 to go
CE finished 993 to go
CECO finished 992 to go
CELG finished 991 to go
CEMEXCPO finished 990 to go
CERN finished 989 to go
CEZ finished 988 to go
CF finished 987 to go
CFG finished 986 to go
CFR finished 985 to go
CHD finished 984 to go
CHFC finished 983 to go
CHILE finished 982 to go
CHK finished 981 to go
CHP.UN finished 980 to go
CHR finished 979 to go
CHRW finished 978 to go
CHTR finished 977 to go
CI finished 976 to go
CIEL3 finished 975 to go
CIEN finished 974 to go
CIMB finished 973 to go
CIT finished 972 to go
CJR.B finished 971 to go
CL finished 970 to go
CLX finished 969 to go
CM finished 968 to go
CMA finished 967 to go
CMCSA finished 966 to go
CME finished 965 to go
CMG finished 964 to go
CMI finished 963 to go
CMIG4 finished 962 to go
CMO finished 961 to go
CMPC finished 960 to go
CMS finished 959 to go
CNA finished 958 to go
CNC finished 957 to go
CNHI finished 956 to go
CNQ finished 955 to go
CNR finished 954 to go
COF finished 953 to go
COG finished 952 to go
COKE finished 951 to go
COL finished 950 to go
COLBUN finished 949 to go
COMI finished 948 to go
CON finished 947 to go
CONN finished 946 to go
COO finished 945 to go
COP finished 944 to go
COPEC finished 943 to go
CORE finished 942 to go
COST finished 941 to go
COTY finished 940 to go
CP finished 939 to go
CPB finished 938 to go
CPF.R finished 937 to go
CPG finished 936 to go
CPI finished 935 to go
CPIN finished 934 to go
CPN.R finished 933 to go
CPR finished 932 to go
CPRT finished 931 to go
CPS finished 930 to go
CRG finished 929 to go
CRL finished 928 to go
CRM finished 927 to go
CRS finished 926 to go
CRT.UN finished 925 to go
CRUS finished 924 to go
CS finished 923 to go
CSCO finished 922 to go
CSGN finished 921 to go
CSGP finished 920 to go
CSL finished 919 to go
CSOD finished 918 to go
CSU finished 917 to go
CSX finished 916 to go
CTAS finished 915 to go
CTC.A finished 914 to go
CTIC finished 913 to go
CTL finished 912 to go
CTRE finished 911 to go
CTRP finished 910 to go
CTSH finished 909 to go
CTXS finished 908 to go
CU finished 907 to go
CUZ finished 906 to go
CVE finished 905 to go
CVG finished 904 to go
CVS finished 903 to go
CVX finished 902 to go
CXO finished 901 to go
CY finished 900 to go
CYS finished 899 to go
D finished 898 to go
D05 finished 897 to go
DAI finished 896 to go
DAL finished 895 to go
DANSKE finished 894 to go
DB1 finished 893 to go
DBK finished 892 to go
DE finished 891 to go
DFS finished 890 to go
DG finished 889 to go
DGE finished 888 to go
DGX finished 887 to go
DHI finished 886 to go
DHR finished 885 to go
DIGI finished 884 to go
DIS finished 883 to go
DISH finished 882 to go
DLR finished 881 to go
DLTR finished 880 to go
DLX finished 879 to go
DNB finished 878 to go
DOL finished 877 to go
DOV finished 876 to go
DPW finished 875 to go
DPZ finished 874 to go
DRE finished 873 to go
DRI finished 872 to go
DSM finished 871 to go
DSV finished 870 to go
DTE finished 869 to go
DUK finished 868 to go
DVA finished 867 to go
DVMT finished 866 to go
DVN finished 865 to go
DWDP finished 864 to go
DWNI finished 863 to go
DXC finished 862 to go
DXCM finished 861 to go
DXS finished 860 to go

EA finished 859 to go
EA.R finished 858 to go
EAT finished 857 to go
EBAY finished 856 to go
EBS finished 855 to go
ECA finished 854 to go
ECL finished 853 to go
ECOL finished 852 to go
ECOPETROL finished 851 to go
ED finished 850 to go
EDEN finished 849 to go
EDP finished 848 to go
EDR finished 847 to go
EDU finished 846 to go
EFX finished 845 to go
EIX finished 844 to go
EL finished 843 to go
ELET3 finished 842 to go
ELUX B finished 841 to go
ELY finished 840 to go
EMAAR finished 839 to go
EMBR3 finished 838 to go
EMR finished 837 to go
EN finished 836 to go
ENB finished 835 to go
ENEL finished 834 to go
ENELAM finished 833 to go
ENELCHILE finished 832 to go
ENGI finished 831 to go
ENI finished 830 to go
EOAN finished 829 to go
EOG finished 828 to go
EPI A finished 827 to go
EQIX finished 826 to go
EQNR finished 825 to go
EQR finished 824 to go
ERES finished 823 to go
ERIC B finished 822 to go
ES finished 821 to go
ESRX finished 820 to go
ESS finished 819 to go
ESSITY B finished 818 to go
ETN finished 817 to go
ETR finished 816 to go
ETSY finished 815 to go
EW finished 814 to go
EXC finished 813 to go
EXF finished 812 to go
EXPD finished 811 to go
EXPE finished 810 to go
EXPN finished 809 to go
EXR finished 808 to go
F finished 807 to go
FALABELLA finished 806 to go
FANG finished 805 to go
FAST finished 804 to go
FB finished 803 to go
FCA finished 802 to go
FCX finished 801 to go
FDC finished 800 to go
FDX finished 799 to go
FE finished 798 to go
FEMSAUBD finished 797 to go
FER finished 796 to go
FERG finished 795 to go
FFB finished 794 to go
FFH finished 793 to go
FFIV finished 792 to go
FHN finished 791 to go
FII finished 790 to go
FIS finished 789 to go
FISV finished 788 to go
FITB finished 787 to go
FIVN finished 786 to go
FIZZ finished 785 to go
FLR finished 784 to go
FLT finished 783 to go
FM finished 782 to go
FMC finished 781 to go
FME finished 780 to go
FMG finished 779 to go
FNF finished 778 to go
FNSR finished 777 to go
FNV finished 776 to go
FORTUM finished 775 to go
FOXA finished 774 to go
FP finished 773 to go
FPH finished 772 to go
FR finished 771 to go
FRC finished 770 to go
FRE finished 769 to go
FRES finished 768 to go
FRT finished 767 to go
FSR finished 766 to go
FTI finished 765 to go
FTS finished 764 to go
FTT finished 763 to go
FTV finished 762 to go
FWONK finished 761 to go
FWRD finished 760 to go
G finished 759 to go
G13 finished 758 to go
G1A finished 757 to go
GARAN finished 756 to go
GBLB finished 755 to go
GC finished 754 to go
GD finished 753 to go
GDP finished 752 to go
GE finished 751 to go
GEBN finished 750 to go
GEN finished 749 to go
GENP finished 748 to go
GENTING finished 747 to go
GET finished 746 to go
GFI finished 745 to go
GFNORTEO finished 744 to go
GFS finished 743 to go
GIL finished 742 to go
GILD finished 741 to go
GIS finished 740 to go
GIVN finished 739 to go
GLE finished 738 to go
GLEN finished 737 to go
GLOW.R finished 736 to go
GLPI finished 735 to go
GLW finished 734 to go
GM finished 733 to go
GME finished 732 to go
GMEXICOB finished 731 to go
GMG finished 730 to go
GNE finished 729 to go
GNW finished 728 to go
GOOG finished 727 to go
GOOGL finished 726 to go
GPC finished 725 to go
GPS finished 724 to go
GPT finished 723 to go
GRA finished 722 to go
GRF finished 721 to go
GRT finished 720 to go
GRUB finished 719 to go
GRUPOSURA finished 718 to go
GS finished 717 to go
GSK finished 716 to go
GT finished 715 to go
GTY finished 714 to go
GWO finished 713 to go
GWW finished 712 to go
HA finished 711 to go
HAL finished 710 to go
HBI finished 709 to go
HBL finished 708 to go
HCA finished 707 to go
HCP finished 706 to go
HD finished 705 to go
HEI finished 704 to go
HEIA finished 703 to go
HEN finished 702 to go
HEN3 finished 701 to go
HES finished 700 to go
HEXA B finished 699 to go
HFC finished 698 to go
HHC finished 697 to go
HI finished 696 to go
HIG finished 695 to go
HLBANK finished 694 to go
HLFG finished 693 to go
HLIT finished 692 to go
HM B finished 691 to go
HOG finished 690 to go
HON finished 689 to go
HOS finished 688 to go
HP finished 687 to go
HPE finished 686 to go
HPQ finished 685 to go
HRB finished 684 to go
HRL finished 683 to go
HRS finished 682 to go
HSBA finished 681 to go
HSE finished 680 to go
HST finished 679 to go
HSY finished 678 to go
HTHT finished 677 to go
HUM finished 676 to go
HUN finished 675 to go
HYPE3 finished 674 to go
IAC finished 673 to go
IAG finished 672 to go
IBE finished 671 to go
IBM finished 670 to go
ICE finished 669 to go
ICL finished 668 to go
IDA finished 667 to go
IDXX finished 666 to go
IFF finished 665 to go
IFX finished 664 to go
IHH finished 663 to go
III finished 662 to go
ILD finished 661 to go
ILMN finished 660 to go
IMB finished 659 to go
IMO finished 658 to go
INCY finished 657 to go
INDA finished 656 to go
INDF finished 655 to go
INFN finished 654 to go
INFO finished 653 to go
ING finished 652 to go
INGA finished 651 to go
INN finished 650 to go
INTC finished 649 to go
INTL finished 648 to go
INTP finished 647 to go
INTU finished 646 to go
INVE B finished 645 to go
IOIPG finished 644 to go
IP finished 643 to go
IPGP finished 642 to go
IPL finished 641 to go
IR finished 640 to go
ISBC finished 639 to go
ISP finished 638 to go
ISRG finished 637 to go
IT finished 636 to go
ITAUCORP finished 635 to go
ITRK finished 634 to go
ITSA4 finished 633 to go
ITUB4 finished 632 to go
ITW finished 631 to go
ITX finished 630 to go
IVL.R finished 629 to go
IVR finished 628 to go
IVZ finished 627 to go
JAZZ finished 626 to go
JBL finished 625 to go
JBSS3 finished 624 to go
JCI finished 623 to go
JD finished 622 to go
JEC finished 621 to go
JFC finished 620 to go
JHX finished 619 to go
JMAT finished 618 to go
JMT finished 617 to go
JNJ finished 616 to go
JNPR finished 615 to go
JOBS finished 614 to go
JPM finished 613 to go
JWN finished 612 to go
K finished 611 to go
KBANK.R finished 610 to go
KBC finished 609 to go
KBH finished 608 to go
KBR finished 607 to go
KER finished 606 to go
KEY finished 605 to go
KGF finished 604 to go
KGH finished 603 to go
KHC finished 602 to go
KIM finished 601 to go
KLAC finished 600 to go
KLBF finished 599 to go
KLBN11 finished 598 to go
KMB finished 597 to go
KMI finished 596 to go
KMX finished 595 to go
KNIN finished 594 to go
KO finished 593 to go
KORS finished 592 to go
KPN finished 591 to go
KR finished 590 to go
KRO finished 589 to go
KROT3 finished 588 to go
KRZ finished 587 to go
KS finished 586 to go
KSS finished 585 to go
KSU finished 584 to go
LAME4 finished 583 to go
LAND finished 582 to go
LB finished 581 to go
LBRDK finished 580 to go
LBTYA finished 579 to go
LBTYK finished 578 to go
LCI finished 577 to go
LDO finished 576 to go
LDOS finished 575 to go
LEG finished 574 to go
LEN finished 573 to go
LGEN finished 572 to go
LGND finished 571 to go
LH finished 570 to go
LHN finished 569 to go
LIN finished 568 to go
LKQ finished 567 to go
LLC finished 566 to go
LLL finished 565 to go
LLOY finished 564 to go
LLY finished 563 to go
LMT finished 562 to go
LNC finished 561 to go
LNG finished 560 to go
LNT finished 559 to go
LONN finished 558 to go
LOW finished 557 to go
LR finished 556 to go
LRCX finished 555 to go
LSE finished 554 to go
LTM finished 553 to go
LUKOY finished 552 to go
LULU finished 551 to go
LUPE finished 550 to go
LUV finished 549 to go
LVS finished 548 to go
LW finished 547 to go
LXP finished 546 to go
LXS finished 545 to go
LYB finished 544 to go
M finished 543 to go
MA finished 542 to go
MAA finished 541 to go
MAC finished 540 to go
MACK finished 539 to go
MAERSK A finished 538 to go
MAN finished 537 to go
MAR finished 536 to go
MARK finished 535 to go
MAS finished 534 to go
MAT finished 533 to go
MAXIS finished 532 to go
MB finished 531 to go
MBK finished 530 to go
MBT finished 529 to go
MC finished 528 to go
MCB finished 527 to go
MCD finished 526 to go
MCHP finished 525 to go
MCK finished 524 to go
MCO finished 523 to go
MCRI finished 522 to go
MCRO finished 521 to go
MCY finished 520 to go
MDLZ finished 519 to go
MDP finished 518 to go
MDT finished 517 to go
MELI finished 516 to go
MEQ finished 515 to go
MET finished 514 to go
METSO finished 513 to go
MEXCHEM* finished 512 to go
MF finished 511 to go
MFC finished 510 to go

MG finished 509 to go
MGEE finished 508 to go
MGM finished 507 to go
MGR finished 506 to go
MIC finished 505 to go
MIC SDB finished 504 to go
MIL finished 503 to go
MKC finished 502 to go
MKS finished 501 to go
ML finished 500 to go
MLCO finished 499 to go
MLM finished 498 to go
MMC finished 497 to go
MMI finished 496 to go
MMM finished 495 to go
MNST finished 494 to go
MO finished 493 to go
MOD finished 492 to go
MOMO finished 491 to go
MOS finished 490 to go
MPC finished 489 to go
MPL finished 488 to go
MQG finished 487 to go
MRK finished 486 to go
MRO finished 485 to go
MRP finished 484 to go
MRVL finished 483 to go
MRW finished 482 to go
MS finished 481 to go
MSFT finished 480 to go
MSI finished 479 to go
MT finished 478 to go
MTB finished 477 to go
MTN finished 476 to go
MTX finished 475 to go
MTZ finished 474 to go
MU finished 473 to go
MUV2 finished 472 to go
MUX finished 471 to go
MYL finished 470 to go
MZTF finished 469 to go
NAB finished 468 to go
NBL finished 467 to go
NCM finished 466 to go
NDA SE finished 465 to go
NED finished 464 to go
NEE finished 463 to go
NEM finished 462 to go
NESN finished 461 to go
NESTE finished 460 to go
NFBK finished 459 to go
NFLX finished 458 to go
NG. finished 457 to go
NICE finished 456 to go
NILSY finished 455 to go
NKE finished 454 to go
NKTR finished 453 to go
NLY finished 452 to go
NMC finished 451 to go
NN finished 450 to go
NNN finished 449 to go
NOC finished 448 to go
NOKIA finished 447 to go
NOV finished 446 to go
NOVN finished 445 to go
NOVO B finished 444 to go
NOW finished 443 to go
NP finished 442 to go
NPN finished 441 to go
NRG finished 440 to go
NRZ finished 439 to go
NSC finished 438 to go
NTAP finished 437 to go
NTES finished 436 to go
NTR finished 435 to go
NTRS finished 434 to go
NUE finished 433 to go
NVDA finished 432 to go
NVTK finished 431 to go
NWE finished 430 to go
NWH.DB finished 429 to go
NWL finished 428 to go
NWSA finished 427 to go
NXPI finished 426 to go
NXT finished 425 to go
NZYM B finished 424 to go
O finished 423 to go
O39 finished 422 to go
OC finished 421 to go
ODP finished 420 to go
OGDC finished 419 to go
OGE finished 418 to go
OHI finished 417 to go
OKE finished 416 to go
OLP finished 415 to go
OMC finished 414 to go
OMN finished 413 to go
OMU finished 412 to go
OMV finished 411 to go
OPK finished 410 to go
OR finished 409 to go
ORA finished 408 to go
ORCL finished 407 to go
ORDS finished 406 to go
ORG finished 405 to go
ORI finished 404 to go
ORIT finished 403 to go
ORK finished 402 to go
ORLY finished 401 to go
OSR finished 400 to go
OTEX finished 399 to go
OTP finished 398 to go
OTTR finished 397 to go
OXY finished 396 to go
PAH3 finished 395 to go
PANW finished 394 to go
PAYX finished 393 to go
PBBANK finished 392 to go
PBCT finished 391 to go
PCAR finished 390 to go
PCAR4 finished 389 to go
PCG finished 388 to go
PCRX finished 387 to go
PDFS finished 386 to go
PEG finished 385 to go
PEI finished 384 to go
PEO finished 383 to go
PEP finished 382 to go
PETR3 finished 381 to go
PETR4 finished 380 to go
PF finished 379 to go
PFBCOLOM finished 378 to go
PFE finished 377 to go
PFG finished 376 to go
PFS finished 375 to go
PG finished 374 to go
PGHN finished 373 to go
PGR finished 372 to go
PH finished 371 to go
PHIA finished 370 to go
PHM finished 369 to go
PKI finished 368 to go
PKO finished 367 to go
PLD finished 366 to go
PM finished 365 to go
PMETAL finished 364 to go
PMT finished 363 to go
PNC finished 362 to go
PNDORA finished 361 to go
PNR finished 360 to go
PNW finished 359 to go
POL finished 358 to go
POST finished 357 to go
POW finished 356 to go
PPB finished 355 to go
PPG finished 354 to go
PPL finished 353 to go
PRGO finished 352 to go
PRIM finished 351 to go
PRU finished 350 to go
PSA finished 349 to go
PSB finished 348 to go
PSG finished 347 to go
PSM finished 346 to go
PSN finished 345 to go
PSON finished 344 to go
PSX finished 343 to go
PUB finished 342 to go
PUM finished 341 to go
PVH finished 340 to go
PXD finished 339 to go
PYPL finished 338 to go
QATI finished 337 to go
QBE finished 336 to go
QCOM finished 335 to go
QNBK finished 334 to go
QRTEA finished 333 to go
QRVO finished 332 to go
QSR finished 331 to go
RACE finished 330 to go
RAD finished 329 to go
RAIL3 finished 328 to go
RB. finished 327 to go
RBS finished 326 to go
RCI.B finished 325 to go
RCL finished 324 to go
RDF finished 323 to go
RDSA finished 322 to go
RDSB finished 321 to go
RDUS finished 320 to go
RE finished 319 to go
REC finished 318 to go
REE finished 317 to go
REGI finished 316 to go
REGN finished 315 to go
REL finished 314 to go
REP finished 313 to go
RF finished 312 to go
RFP finished 311 to go
RGA finished 310 to go
RGLD finished 309 to go
RGR finished 308 to go
RHI finished 307 to go
RHP finished 306 to go
RHT finished 305 to go
RI finished 304 to go
RIO finished 303 to go
RL finished 302 to go
RLJ finished 301 to go
RMAX finished 300 to go
RMBS finished 299 to go
RMS finished 298 to go
RNO finished 297 to go
ROG finished 296 to go
ROK finished 295 to go
ROST finished 294 to go
RPT finished 293 to go
RR. finished 292 to go
RRC finished 291 to go
RRS finished 290 to go
RSA finished 289 to go
RSG finished 288 to go
RTN finished 287 to go
RWE finished 286 to go
RWT finished 285 to go
RY finished 284 to go
S finished 283 to go
S32 finished 282 to go
SAB finished 281 to go
SAF finished 280 to go
SAMPO finished 279 to go
SAN finished 278 to go
SAND finished 277 to go
SAP finished 276 to go
SBAC finished 275 to go
SBER finished 274 to go
SBK finished 273 to go
SBNY finished 272 to go
SBRA finished 271 to go
SBRY finished 270 to go
SBSP3 finished 269 to go
SBUX finished 268 to go
SCCO finished 267 to go
SCG finished 266 to go
SCHN finished 265 to go
SCHP finished 264 to go
SCHW finished 263 to go
SCMN finished 262 to go
SEB A finished 261 to go
SECB finished 260 to go
SEK finished 259 to go
SESG finished 258 to go
SEV finished 257 to go
SF finished 256 to go
SGO finished 255 to go
SGP finished 254 to go
SGSN finished 253 to go
SGTZY finished 252 to go
SHB A finished 251 to go
SHOP finished 250 to go
SHP finished 249 to go
SHW finished 248 to go
SIE finished 247 to go
SIKA finished 246 to go
SINA finished 245 to go
SIRI finished 244 to go
SISE finished 243 to go
SIVB finished 242 to go
SJM finished 241 to go
SJR.B finished 240 to go
SK3 finished 239 to go
SKF B finished 238 to go
SKT finished 237 to go
SKYW finished 236 to go
SLA finished 235 to go
SLAB finished 234 to go
SLB finished 233 to go
SLF finished 232 to go
SLG finished 231 to go
SLM finished 230 to go
SM finished 229 to go
SMGR finished 228 to go
SMPH finished 227 to go
SN. finished 226 to go
SNC finished 225 to go
SO finished 224 to go
SOL finished 223 to go
SOON finished 222 to go
SPG finished 221 to go
SPGI finished 220 to go
SPLK finished 219 to go
SPPI finished 218 to go
SPSN finished 217 to go
SQ finished 216 to go
SRC finished 215 to go
SRE finished 214 to go
SREN finished 213 to go
SRG finished 212 to go
SRI finished 211 to go
SSE finished 210 to go
SSNC finished 209 to go
SSP finished 208 to go
STAN finished 207 to go
STERV finished 206 to go
STI finished 205 to go
STJ finished 204 to go
STLD finished 203 to go
STM finished 202 to go
STO finished 201 to go
STT finished 200 to go
STX finished 199 to go
STZ finished 198 to go
SU finished 197 to go
SUI finished 196 to go
SUN finished 195 to go
SUZB3 finished 194 to go
SVT finished 193 to go
SWED A finished 192 to go
SWKS finished 191 to go
SXC finished 190 to go
SYD finished 189 to go
SYF finished 188 to go
SYK finished 187 to go
SYMC finished 186 to go
SYNA finished 185 to go
SYY finished 184 to go
T finished 183 to go
T39 finished 182 to go
TAL finished 181 to go
TAP finished 180 to go
TAVHL finished 179 to go
TBBK finished 178 to go
TCL finished 177 to go
TCN finished 176 to go
TCO finished 175 to go
TCW finished 174 to go
TD finished 173 to go
TDG finished 172 to go
TECK.B finished 171 to go
TEF finished 170 to go
TEL finished 169 to go
TELIA finished 168 to go
TEMN finished 167 to go
TEN finished 166 to go
TER finished 165 to go
TEVA finished 164 to go
TFX finished 163 to go
TGT finished 162 to go
THG finished 161 to go
THYAO finished 160 to go
TIF finished 159 to go

TIMP3 finished 158 to go
TIT finished 157 to go
TITR finished 156 to go
TJX finished 155 to go
TKA finished 154 to go
TLEVISACPO finished 153 to go
TLKM finished 152 to go
TLS finished 151 to go
TM finished 150 to go
TMK finished 149 to go
TMO finished 148 to go
TMST finished 147 to go
TMUS finished 146 to go
TOL finished 145 to go
TOU finished 144 to go
TPR finished 143 to go
TRGP finished 142 to go
TRI finished 141 to go
TRIP finished 140 to go
TRMB finished 139 to go
TRN finished 138 to go
TROW finished 137 to go
TRP finished 136 to go
TRST finished 135 to go
TRU finished 134 to go
TRV finished 133 to go
TRYG finished 132 to go
TSCO finished 131 to go
TSLA finished 130 to go
TSN finished 129 to go
TTWO finished 128 to go
TUP finished 127 to go
TW. finished 126 to go
TWE finished 125 to go
TWO finished 124 to go
TWTR finished 123 to go
TXN finished 122 to go
TXT finished 121 to go
U finished 120 to go
U11 finished 119 to go
UA finished 118 to go
UAA finished 117 to go
UAL finished 116 to go
UBNK finished 115 to go
UBSG finished 114 to go
UCB finished 113 to go
UCG finished 112 to go
UDR finished 111 to go
UGPA3 finished 110 to go
UHR finished 109 to go
UHT finished 108 to go
ULTA finished 107 to go
ULVR finished 106 to go
UMI finished 105 to go
UNA finished 104 to go
UNH finished 103 to go
UNM finished 102 to go
UNP finished 101 to go
UNTR finished 100 to go
UNVR finished 99 to go
UPM finished 98 to go
UPS finished 97 to go
URI finished 96 to go
URW finished 95 to go
USAP finished 94 to go
USB finished 93 to go
UTX finished 92 to go
V finished 91 to go
VALE3 finished 90 to go
VAR finished 89 to go
VC finished 88 to go
VCX finished 87 to go
VEEV finished 86 to go
VFC finished 85 to go
VGR finished 84 to go
VIAB finished 83 to go
VIE finished 82 to go
VIFN finished 81 to go
VIV finished 80 to go
VIVT4 finished 79 to go
VLO finished 78 to go
VMC finished 77 to go
VNA finished 76 to go
VNO finished 75 to go
VOD finished 74 to go
VOE finished 73 to go
VOW3 finished 72 to go
VRSK finished 71 to go
VRSN finished 70 to go
VRTX finished 69 to go
VTR finished 68 to go
VWS finished 67 to go
VZ finished 66 to go
WALMEX* finished 65 to go
WAT finished 64 to go
WB finished 63 to go
WBA finished 62 to go
WBC finished 61 to go
WCG finished 60 to go
WCN finished 59 to go
WD finished 58 to go
WDAY finished 57 to go
WDC finished 56 to go
WDI finished 55 to go
WDR finished 54 to go
WEC finished 53 to go
WEIR finished 52 to go
WELL finished 51 to go
WES finished 50 to go
WFC finished 49 to go
WHL finished 48 to go
WHR finished 47 to go
WKL finished 46 to go
WLTW finished 45 to go
WM finished 44 to go
WMB finished 43 to go
WMT finished 42 to go
WOR finished 41 to go
WOW finished 40 to go
WP finished 39 to go
WPC finished 38 to go
WPL finished 37 to go
WPM finished 36 to go
WPP finished 35 to go
WPX finished 34 to go
WRI finished 33 to go
WRK finished 32 to go
WRT1V finished 31 to go
WSFS finished 30 to go
WTE finished 29 to go
WTI finished 28 to go
WTM finished 27 to go
WTR finished 26 to go
WTW finished 25 to go
WU finished 24 to go
WUBA finished 23 to go
WY finished 22 to go
WYN finished 21 to go
WYNN finished 20 to go
XEL finished 19 to go
XLNX finished 18 to go
XOM finished 17 to go
XPO finished 16 to go
XRX finished 15 to go
XYL finished 14 to go
Y finished 13 to go
YAR finished 12 to go
YTL finished 11 to go
YUM finished 10 to go
YUMC finished 9 to go
YY finished 8 to go
Z finished 7 to go
Z74 finished 6 to go
ZAL finished 5 to go
ZBH finished 4 to go
ZEUS finished 3 to go
ZG finished 2 to go
ZTS finished 1 to go
ZURN finished 0 to go

In [35]:
df_staleness_short.head()

,--,000002,000030,000270,000333,000660,000810,000858,000880,001040,...,YUMC,YY,Z,Z74,ZAL,ZBH,ZEUS,ZG,ZTS,ZURN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
test = df_staleness_short.copy()
test.head()
#large_staleness_short['avg'] = large_staleness_short.mean(axis = 1)

,--,000002,000030,000270,000333,000660,000810,000858,000880,001040,...,YUMC,YY,Z,Z74,ZAL,ZBH,ZEUS,ZG,ZTS,ZURN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_staleness_short['avg'] = df_staleness_short.mean(axis = 1)

In [38]:
df_staleness_short.head()

,--,000002,000030,000270,000333,000660,000810,000858,000880,001040,...,YY,Z,Z74,ZAL,ZBH,ZEUS,ZG,ZTS,ZURN,avg
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
 df_staleness_short['avg'].describe(percentiles = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

count    359.000000
mean       7.788057
std        0.199545
min        7.000000
10%        7.577355
20%        7.639448
30%        7.687705
40%        7.730466
50%        7.770244
60%        7.804734
70%        7.839856
80%        7.895332
90%        8.024250
max        8.595661
Name: avg, dtype: float64

In [50]:
df_staleness_short.loc['avg_tic'] = df_staleness_short.mean()

In [0]:
#df_staleness_short = df_staleness_short.iloc[:, :-1]

In [51]:
df_staleness_short.loc['avg_tic'].describe(percentiles = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.97, 0.99])

count    1522.000000
mean        7.916898
std         5.072779
min         7.000000
10%         7.000000
20%         7.005602
30%         7.025210
40%         7.058659
50%         7.100559
60%         7.164235
70%         7.282913
80%         7.551569
90%         8.246495
95%         9.131426
97%        11.841840
99%        27.406544
max       117.045918
Name: avg_tic, dtype: float64

In [52]:
##For each 17 SDG##
t15_subset.head()

,Unnamed: 0,date,code,SDG,tone,SDG_number
0,0,2015-01-01,--,1. No Poverty,-1.304348,1
1,1,2015-01-01,--,10. Reduced Inequalities,-3.102656,10
2,2,2015-01-01,--,11. Sustainable Cities and Communities,-2.319714,11
3,3,2015-01-01,--,12. Responsible Consumption and Production,-2.276572,12
4,4,2015-01-01,--,13. Climate Action,-0.474060,13

In [53]:
# Create SDG_number column
def getSDG(str):
  sdg = str.split('.')[0]
  return sdg

t15_subset['SDG_number'] = t15_subset['SDG'].apply(lambda x: getSDG(x))
t15_subset.head()

/Users/qihangyu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,date,code,SDG,tone,SDG_number
0,0,2015-01-01,--,1. No Poverty,-1.304348,1
1,1,2015-01-01,--,10. Reduced Inequalities,-3.102656,10
2,2,2015-01-01,--,11. Sustainable Cities and Communities,-2.319714,11
3,3,2015-01-01,--,12. Responsible Consumption and Production,-2.276572,12
4,4,2015-01-01,--,13. Climate Action,-0.474060,13

In [54]:
t15_subset['SDG_number'] = t15_subset['SDG_number'].apply(lambda x: int(x))

/Users/qihangyu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
t15_subset_bySDG = [] 

for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]:
    subset_bySDG = t15_subset.loc[t15_subset['SDG_number'] == i]
    t15_subset_bySDG.append(subset_bySDG)

In [56]:
t15_subset_bySDG[0].head() ## t18_subset_bySDG: list of dataframe on each sdg ##

     Unnamed: 0       date    code            SDG      tone  SDG_number
0             0 2015-01-01      --  1. No Poverty -1.304348           1
16           16 2015-01-01  000002  1. No Poverty -1.094891           1
24           24 2015-01-01  000270  1. No Poverty  1.525424           1
49           49 2015-01-01  000810  1. No Poverty -0.368547           1
119         119 2015-01-01  005930  1. No Poverty -0.602497           1

In [57]:
def stale_eachSDG(x):
  df_pivot = pd.pivot_table(x, values='tone', index=['date'], columns=['code']).reset_index()
  date_range_all = pd.DataFrame(pd.date_range(df_pivot.date[0], df_pivot.date.tolist()[-1], freq='D'), columns=['date'])
  df_all_dates = date_range_all.merge(df_pivot, on='date', how = 'left')
  df_all_dates['date'] = df_all_dates['date'].apply(lambda x: str(x)[:10])
  
  # Run the function
  #df_staleness_long = pd.DataFrame()
  df_staleness_short = pd.DataFrame()
  
  n=0
  for col in df_all_dates.columns[1:]:
    df_temp = df_all_dates.loc[:, ['date', col]]
    #df_staleness_long[col] = df_temp['date'].apply(lambda x: calc_days(180,col,x))
    df_staleness_short[col] = df_temp['date'].apply(lambda x: calc_days(7,col,x))
    
    n+=1
    #print(col,'finished',df_all_dates.shape[1]-1-n,'to go')
  
  #Summary Statistic
  df_staleness_short['avg'] = df_staleness_short.mean(axis = 1)
  avg_day = df_staleness_short['avg'].describe(percentiles = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.95, 0.975, 0.99])
  
  df_staleness_short.loc['avg_tic'] = df_staleness_short.mean()
  avg_tic = df_staleness_short.loc['avg_tic'].describe(percentiles = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.975, 0.99])
  
  
  return avg_day, avg_tic

In [ ]:
#Manuulay change 0 to 16 !###########################Result##################################
stale_eachSDG(t15_subset_bySDG[0])

In [59]:
####Takes too long
stat_final = []

for i in range(len(t15_subset_bySDG)):
    summary = stale_eachSDG(t15_subset_bySDG[i])
    stat_final.append(summary)

In [81]:
stat_final

[(count    358.000000
  mean       7.762152
  std        0.195109
  min        7.000000
  10%        7.566403
  20%        7.625837
  30%        7.664546
  40%        7.698999
  50%        7.733224
  60%        7.768421
  70%        7.801184
  80%        7.868158
  95%        8.131875
  97.5%      8.252595
  99%        8.483118
  max        8.569737
  Name: avg, dtype: float64, count    1521.000000
  mean        7.873637
  std         4.785592
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.163380
  70%         7.282913
  80%         7.550562
  90%         8.246459
  95%         9.127119
  97.5%      12.440922
  99%        25.876047
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.750901
  std        0.196055
  min        7.000000
  10%        7.554195
  20%        7.613790
  30%        7.651086
  40%        7.684856
  50%        7.721709
  60%        7.757340
  70%        7.790893
  80%        7.855563
  95%        8.125981
  97.5%      8.252595
  99%        8.470836
  max        8.557604
  Name: avg, dtype: float64, count    1520.000000
  mean        7.859887
  std         4.757049
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.099162
  60%         7.163105
  70%         7.282913
  80%         7.548101
  90%         8.242674
  95%         9.125785
  97.5%      12.386893
  99%        24.068669
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.601972
  std        0.201690
  min        7.000000
  10%        7.431326
  20%        7.453245
  30%        7.480132
  40%        7.509007
  50%        7.547881
  60%        7.590464
  70%        7.628874
  80%        7.707682
  95%        8.008125
  97.5%      8.239913
  99%        8.292113
  max        8.384768
  Name: avg, dtype: float64, count    1511.000000
  mean        7.636091
  std         2.841427
  min         7.000000
  10%         7.000000
  20%         7.002809
  30%         7.025210
  40%         7.058659
  50%         7.097765
  60%         7.162011
  70%         7.272472
  80%         7.532764
  90%         8.202279
  95%         8.930971
  97.5%      11.510461
  99%        15.929623
  max        63.653430
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.719635
  std        0.193446
  min        7.000000
  10%        7.552867
  20%        7.581698
  30%        7.609151
  40%        7.634496
  50%        7.671623
  60%        7.722348
  70%        7.763924
  80%        7.817703
  95%        8.071450
  97.5%      8.252595
  99%        8.448736
  max        8.536537
  Name: avg, dtype: float64, count    1520.000000
  mean        7.790092
  std         3.649026
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.099162
  60%         7.163105
  70%         7.282913
  80%         7.548101
  90%         8.242674
  95%         9.125785
  97.5%      12.386893
  99%        24.068669
  max        73.691589
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.722777
  std        0.191498
  min        7.000000
  10%        7.562978
  20%        7.597467
  30%        7.620844
  40%        7.646904
  50%        7.674128
  60%        7.707548
  70%        7.752915
  80%        7.812772
  95%        8.071450
  97.5%      8.252595
  99%        8.451652
  max        8.539171
  Name: avg, dtype: float64, count    1520.000000
  mean        7.801787
  std         3.881427
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.099162
  60%         7.163105
  70%         7.282913
  80%         7.548101
  90%         8.242674
  95%         9.125785
  97.5%      12.386893
  99%        24.068669
  max        91.465608
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.719983
  std        0.191332
  min        7.000000
  10%        7.553766
  20%        7.595520
  30%        7.617959
  40%        7.644195
  50%        7.667655
  60%        7.707420
  70%        7.750988
  80%        7.827004
  95%        8.071144
  97.5%      8.252595
  99%        8.441601
  max        8.530303
  Name: avg, dtype: float64, count    1519.000000
  mean        7.802864
  std         4.236573
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.097765
  60%         7.162830
  70%         7.282597
  80%         7.543364
  90%         8.241085
  95%         9.108537
  97.5%      12.043986
  99%        22.699501
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.722777
  std        0.191498
  min        7.000000
  10%        7.562978
  20%        7.597467
  30%        7.620844
  40%        7.646904
  50%        7.674128
  60%        7.707548
  70%        7.752915
  80%        7.812772
  95%        8.071450
  97.5%      8.252595
  99%        8.451652
  max        8.539171
  Name: avg, dtype: float64, count    1520.000000
  mean        7.801787
  std         3.881427
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.099162
  60%         7.163105
  70%         7.282913
  80%         7.548101
  90%         8.242674
  95%         9.125785
  97.5%      12.386893
  99%        24.068669
  max        91.465608
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.788057
  std        0.199824
  min        7.000000
  10%        7.577342
  20%        7.639316
  30%        7.687705
  40%        7.730095
  50%        7.769737
  60%        7.804865
  70%        7.840142
  80%        7.895595
  95%        8.187705
  97.5%      8.252595
  99%        8.509941
  max        8.595661
  Name: avg, dtype: float64, count    1522.000000
  mean        7.916898
  std         5.072779
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.100559
  60%         7.164235
  70%         7.282913
  80%         7.551569
  90%         8.246495
  95%         9.131426
  97.5%      12.840934
  99%        27.406544
  max       117.045918
  Name: avg_tic, dtype: float64), (count    358.000000
  mean       7.733672
  std        0.195912
  min        7.000000
  10%        7.548723
  20%        7.592063
  30%        7.640572
  40%        7.671675
  50%        7.690884
  60%        7.731666
  70%        7.775555
  80%        7.833048
  95%        8.109974
  97.5%      8.252595
  99%        8.442436
  max        8.529954
  Name: avg, dtype: float64, count    1520.000000
  mean        7.836921
  std         4.568075
  min         7.000000
  10%         7.000000
  20%         7.005602
  30%         7.025210
  40%         7.058659
  50%         7.099162
  60%         7.163105
  70%         7.282913
  80%         7.548101
  90%         8.242674
  95%         9.125785
  97.5%      12.386893
  99%        24.068669
  max       117.045918
  Name: avg_tic, dtype: float64)]

In [84]:
# save file 
g = open("/Users/qihangyu/Desktop/output.txt", 'w')

for i in stat_final:
    g.write(str(i)+"\n")

g.close()